<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question list</title>
</head>
<body>
    <table >
        <thead >
            <tr >
                <th>제목</th>
                <th>내용</th>
                <th>생성일자</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="question : ${list}">
                <td><a th:href="@{|/sbb/questions/${question.id}|}" th:text="${question.subject}"></a></td>
                <td th:text="${question.content}"></td>
                <td th:text="${question.createdAt}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>