<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h3 class="border-bottom py-2" th:text="${question.subject()}"></h3>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(question.content())}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifiedAt()!= null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifiedAt(), 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.id}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createdAt(), 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" th:data-uri="@{|/sbb/questions/${question.id}/recommend|}"
                   class="recommend btn btn-sm btn-outline-secondary" th:classappend="${#authentication != null}? '':'disabled'"
                   >추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voters)}"></span>
                </a>
                <a th:href="@{|/sbb/questions/${question.id}/modify|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.id}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/sbb/questions/${question.id}/delete|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.id}"
                   th:text="삭제"></a>
            </div>

<!--            comment-->
            <div class="vr"></div>
            <h5>댓글</h5>
            <div class="card my-1" th:each="comment: ${question.comments()}">
                <a th:id="|comment_${comment.id}|"></a>
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(comment.content())}"/>
                    <div class="d-flex justify-content-end">
                        <div th:if="${comment.modifiedAt()!= null}" class="badge bg-light text-dark p-2 text-start mx-3">
                            <div class="mb-2">modified at</div>
                            <div th:text="${#temporals.format(comment.modifiedAt(), 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                <span th:if="${comment.author != null}" th:text="${comment.author.id}"></span>
                            </div>
                            <div th:text="${#temporals.format(comment.createdAt(), 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <a th:href="@{|/sbb/questions/${question.id}/comments/${comment.id}/modify|}" class="btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.id}"
                           th:text="수정"></a>
                        <a href="javascript:void(0);" th:data-uri="@{|/sbb/questions/${question.id}/comments/${comment.id}/delete|}"
                           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.id}"
                           th:text="삭제"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom my-3 py-2" th:text="|${question.answers().getTotalElements()}개의 답변이 있습니다.|"></h5>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            정렬 기준
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="?sortOption=time">최신순</a></li>
            <li><a class="dropdown-item" href="?sortOption=recommend">추천순</a></li>
        </ul>
    </div>
    <div class="card my-3" th:each="answer : ${question.answers()}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(answer.content())}"/>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifiedAt()!= null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifiedAt(), 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.id}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createdAt(), 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" th:data-uri="@{|/sbb/questions/${question.id}/answers/${answer.id}/recommend|}"
                   class="recommend btn btn-sm btn-outline-secondary" th:classappend="${#authentication != null}? '':'disabled'">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voters)}"></span>
                </a>
                <a th:href="@{|/sbb/questions/${question.id}/answers/${answer.id}/modify|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.id}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/sbb/questions/${question.id}/answers/${answer.id}/delete|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.id}"
                   th:text="삭제"></a>
            </div>
        </div>

    </div>
    <form class="my-3" th:object="${form}" th:action="@{|/sbb/questions/${question.id}/answers|}" method="post">
        <div th:replace="~{form_error :: formErrorsFragment}"></div>
        <input type="hidden" th:value="${question.id}" name="id">
        <textarea class="form-control" th:field="*{content}" id="content" rows="15"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
    <div th:if="${!question.answers().isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!question.answers().hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${question.answers().number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, question.answers().totalPages-1)}"
                th:if="${page >= question.answers().number-5 and page <= question.answers().number+5}"
                th:classappend="${page == question.answers().number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!question.answers().hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${question.answers().number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <form th:action="@{|/sbb/questions/${question.id}/answers}" method="get" id="searchForm">
        <input type="hidden" id="option" name="option" th:value="${option}"/>
    </form>
</div>

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                console.log(this.dataset.uri);
                location.href = this.dataset.uri;
            }
            ;
        });
    });

    const vote_elements = document.getElementsByClassName("recommend");
    Array.from(vote_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            console.log(this.dataset.uri);
            location.href = this.dataset.uri;
        });
    });
    const sort_element = document.getElementsByClassName("sort");
    sort_element[0].addEventListener('click', function () {

    })
</script>

</html>