<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <div class="row my-3">
    <div class="col-6">
      <a th:href="@{/sbb/questions/write}" class="btn btn-primary">질문 등록하기</a>
    </div>
  </div>

  <h3>최근 답변 목록</h3>
  <table class="table">
    <thead class="table-dark">
    <tr class="text-center">
      <th>번호</th>
      <th style="width:50%">질문 제목</th>
      <th>작성자</th>
      <th>생성일자</th>
      <th>추천수</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="answer, loop : ${answers.getContent()}">
      <td th:text="${answers.totalElements-(answers.getSize()*answers.getNumber()+loop.count)}"></td>
      <td class="text-start">
        <a th:href="@{|/sbb/questions/${answer.target.id}|}" th:text="${answer.target.subject}"></a>
      </td>
      <td><span th:if="${answer.author !=null}" th:text="${answer.author.id}"></span></td>
      <td th:text="${#temporals.format(answer.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
      <td th:text="${answer.voterCount}"/>
    </tr>
    </tbody>
  </table>
  <div th:if="${!answers.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${!answers.hasPrevious} ? 'disabled'">
        <a class="page-link"
           href="javascript:void(0)" th:data-page="${answers.number-1}">
          <span>이전</span>
        </a>
      </li>
      <li th:each="page: ${#numbers.sequence(0, answers.totalPages-1)}"
          th:if="${page >= answers.number-5 and page <= answers.number+5}"
          th:classappend="${page == answers.number} ? 'active'"
          class="page-item">
        <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
      </li>
      <li class="page-item" th:classappend="${!answers.hasNext} ? 'disabled'">
        <a class="page-link" href="javascript:void(0)" th:data-page="${answers.number-1}">
          <span>다음</span>
        </a>
      </li>
    </ul>
  </div>
  <form th:action="@{/sbb/answers}" method="get" id="searchForm">
    <input type="hidden" id="page" name="page" th:value="${answers.number}">
  </form>
</div>
<script layout:fragment="script" type='text/javascript'>
  const page_elements = document.getElementsByClassName("page-link");
  Array.from(page_elements).forEach(function (element) {
    element.addEventListener('click', function () {
      document.getElementById('page').value = this.dataset.page;
              document.getElementById('searchForm').submit();
    });
  });
</script>
</html>
